name: Terraform Azure Deployment

on:
  push:
    branches:
      - master

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Install Terraform
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Azure Login using Service Principal
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.ARM_CLIENT_SECRET }}

      # Terraform Init
      - name: Terraform Init
        run: |
          cd rg
          terraform init

      - name: Terraform Plan
        run: |
          cd rg
          terraform plan

      - name: Terraform Apply
        run: |
          cd rg
          terraform apply -auto-approve
