name: Terraform Azure Deployment

on: [push]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        working-directory: rg
        run: terraform init

      - name: Terraform Plan
        working-directory: rg
        run: terraform plan

      - name: Terraform Apply
        working-directory: rg
        run: terraform apply -auto-approve
